* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ca7f54;
    padding: 5px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-spacer-left {
    flex: 1;
}

.logo-title {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.playstore-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    margin-left: 5px;
    margin-top: 5px;
}

.playstore-link:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Less transparent on hover */
    transform: scale(1.1); /* Enlarges on hover */
}

.playstore-icon {
    width: 40px;
    height: 40px;
    opacity: 0.8; /* Adjust the opacity to make it semi-transparent */
    filter: invert(62%) sepia(34%) saturate(437%) hue-rotate(332deg) brightness(100%) contrast(94%);
    transition: opacity 0.3s ease; /* Smooth transition on hover */
    /* This filter adapts the icon color to match the header background */
}




/* Center modal content */
.modal-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fefefe;
    max-width: 90vw; /* Don't exceed 90% of viewport width */
    max-height: 90vh; /* Don't exceed 90% of viewport height */
    width: auto;
    height: auto;
    overflow: auto; /* Prevent content overflow, the container will scroll */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.no-link-style {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    /*position: absolute;  */                                                                                                   
    bottom: 0;                                                                                                              
    left: 50%;                                                                                                     
    /*transform: translateY(10%); */
}

.no-link-style:hover {
    color:#9d9796;
}

/* Basic modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent content from overflowing out of the modal */
    background-color: rgba(0, 0, 0, 0.4); /* Dim background behind the modal */
}

/* Styling for the close button */
.close {
    visibility: hidden;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;


    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e7e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.close_bottom {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    right: 25px;
    top: 45px;
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e7e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_bottom:hover,
.close:focus {
    color: black;
    background-color: #ddd;
}

/* Scrollable container inside the modal */
.pdf-container {
    width: 100%; /* Full width of the modal */
    height: 80vh; /* 80% of viewport height */
    overflow-x: auto; /* Horizontal scroll */
    overflow-y: auto; /* Vertical scroll */
    white-space: nowrap; /* Prevent wrapping */
    position: relative;
    background-color: #fff; /* Light background */
}

/* Canvas for PDF rendering */
#pdf-canvas {
    display: inline-block;
    vertical-align: top;
    width: auto; /* Allow the canvas to keep its original width */
    height: auto; /* Allow the canvas to keep its original height */
}

/* Prevent body from scrolling when the modal is open */
body.modal-open {
    overflow: hidden;
}





.more-btn {
    position: absolute; /* Allow the button to be positioned freely within the section */
    right: 15px; /* Align to the right side of the section */
    top: 4%; /* Vertically align to the middle of the section */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    cursor: pointer;
    background-color: #ca7f54c3; /* Light brown background */
    border: 1px solid #ca7f54e0; /* Light brown border */
    color: white;
    padding: 7px 14px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    
    /* Box shadow for a button-like depth effect */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), 
                -2px -2px 5px rgba(255, 255, 255, 0.3); /* Light from top-left */
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions on hover */
}

.more-btn:hover {
    background-color: #ca7f54;
    
    /* Keep size, but reduce shadow for a pressed effect */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3),
                -1px -1px 2px rgba(255, 255, 255, 0.2); /* Smaller shadow for a pressed effect */
}



.modal-content {
    position: relative;
    background-color: #ffffff;
    max-width: 90vw; /* Don't exceed 90% of viewport width */
    max-height: 75vh; /* Don't exceed 90% of viewport height */
    width: auto;
    height: auto;
    overflow: hidden; /* Prevent content overflow, the container will scroll */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex; /* Ensure that the content inside adjusts properly */
    flex-direction: column;
    overflow-x: auto; /* Allow horizontal scrolling */
}

/* Make close button sticky */
.close {
    position: sticky;
    top: 0;
    right: 20px;
    z-index: 10; /* Ensure it stays above other content */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Make title sticky */
.modal-content h2 {
    position: sticky;
    top: 0;
    left:90px;
    z-index: 10;
    /*padding: 10px;*/
    padding-top: 35px;
}

/* Make download button sticky */
#pdf-download-link {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
}

/* Make PDF info text sticky */
#pdf-info {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 5px;
    width: 100%; /* Make it span across the modal */
    text-align: center;
}





body {
    background-image: url('media/back.webp'); /* Adjust the file name/path as necessary */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat:repeat-y; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: Fixes the background image during scroll */
    opacity: 0.85; /* Optional: Adjust the opacity for faint effect */
}


body, html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #444;
    
    padding-top: 35px; /* Add padding to avoid content being hidden behind the navbar */

}

.container {
    max-width: 950px;
    margin: auto;
    padding: 0 20px;
    display: flex; /* Added */
    flex-direction: column; /* Added */
    align-items: center; /* Added */
}

.header {
    width: 100%; /* Full width */
    background-color: #ca7f54; /* Or your existing navbar background color */
    color: rgb(255, 255, 255);
    padding: 5px 0;
    position: fixed; /* Changed from 'static' to 'fixed' */
    top: 0; /* Stick to the top of the page */
    left: 0; /* Align to the left of the page */
    z-index: 1000; /* Ensure navbar is above other content */
    box-shadow: 0 3px 5px rgba(0,0,0,0.3); /* Optional: adds shadow for depth */
    height: 60px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: bold;
   
    flex-grow: 1;
    text-align: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.bottom-nav .navbar a #timer {
    margin-top: 8px;  /* Space between the "More" text and the timer */
    font-size: 10px;  /* Smaller font size for the timer to fit the button style */
    color: #ddd;  /* Light color for the timer, adjust as needed */
    position: absolute;  /* Positions the timer absolutely within the button */
    bottom: 0px;  /* Positions the timer 5px from the bottom */
    width: 100%;  /* Ensures timer spans the width of the button for alignment */
    text-align: center;  /* Ensures the timer text is centered */
    
}

.navbar {
    display: flex;
    align-items: center;
}
.bottom-nav .navbar {
    display: flex;  /* Uses flex to distribute space among children */
    justify-content: space-around;  /* Distributes extra space evenly */
    width: 100%;  /* Ensures the navbar spans the entire width of its parent */
}

.bottom-nav .navbar a {
    flex: 1;

    display: flex;  /* Uses flex to align items */
    flex-direction: column;  /* Stacks items vertically */
    align-items: center;  /* Aligns items in the center horizontally */
    justify-content: center;  /* Centers content vertically */
    flex-direction: column;  /* Stacks items vertically */
    align-items: center;  /* Centers items horizontally */
    justify-content: space-between;  /* Distributes space, pushing the timer to the bottom */
    height: 100%;  
}

.bottom-nav .navbar a.more-butn i {
    font-size: 1.2em;  /* Adjust size as necessary for visibility */
    position: absolute;  /* Positions the icon absolutely within the button */
    top: 50%;  /* Moves the top of the icon to the center of the button */
    transform: translateY(-50%);  /* Shifts the icon up by half its height to center it exactly */
    width: 100%;  /* Ensures icon is centered horizontally as well */
    text-align: center;  /* Ensures the icon text is centered */
}

.nav-links a {
    color: rgb(251, 210, 174);
    text-decoration: none;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 15px; /* Adjust padding to control the size of the buttons */
    border-radius: 5px; /* Adds rounded corners to your buttons */
    background-color: #ec5814d4; /* Background color for your buttons */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
    margin: 0 5px; /* Optional: Adds space between buttons */
}

.nav-links li {
    display: inline;
    margin-left: 20px;
    min-height: 48px;
    min-width: 48px;
}

.nav-links a {
    color: rgb(251, 210, 174);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    min-height: 48px;
    min-width: 48px;
    
}

.nav-links a:hover {
    background-color: #cf4015; /* Darker shade for hover effect */
    color: #ffffff; /* Change text color on hover if needed */
}

.main-content {
    padding: 0px 0;
}

.chart-section{
    background: linear-gradient(145deg, #f8e4db, #fce2d6dc, #f4d6c1f3); /* Gradient from white to pink to light brown */
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;

}

.chart-container {
    display: flex; /* or display: grid; based on your layout preference */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Adjust based on your minimum height preference */
    max-height: 270px;
    height: auto;
}

.chart-title {
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
    justify-content: space-between; /* Puts space between the text and the image */
}

.chart-title h2 {
    margin-right: auto; /* This ensures the h2 stays on the left */
    font-size: 28px;
}

.svg {
    float: right;
}

.count {
    float: right;
}

.main-content {
    width: 100%; /* This ensures the main-content spans the full width of its parent */
}


.chart-container {
    width: 100%; /* This ensures the chart-container spans the full width of chart-section */
    /* Add any additional styling you want for the chart-container */
}

.canvas {
    width: 100%; /* Adjust canvas width responsively */
    height: auto; /* Let the height be determined by the chart content */
}


.capacity-section {
    background: linear-gradient(145deg, #f8e4db, #fce2d6dc, #f4d6c1f3); /* Gradient from white to pink to light brown */
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 600px;
}

.capacity-title {
    margin-bottom: 10px;

    padding-right: 10px;
    padding-left: 10px;
}

.capacity-container {
    background-color: #fff5ed;
    border-radius: 8px;
    overflow: hidden;
    max-height: 20px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}


.capacity-axis {
    display: flex;
    justify-content: space-between; /* This distributes the labels across the width */
    width: 90%; /* Match the width of the capacity-container for alignment */
    margin: 0 auto; /* Center align */
    font-size: 14px; /* Adjust size as needed */
    color: #444; /* Adjust color as needed */
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 3px;
}

.capacity-bar {
    height: 30px;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    background-color: #cf8d5e; /* Change to your desired color */
    width: 50%; /* Adjust based on the actual capacity percentage */
    text-align: right;
    box-sizing: border-box;
    line-height: 30px;
    color: rgb(246, 225, 206);
}









.Menu-Title {
    display: inline-block; /* To ensure title and button align horizontally */
    font-size: 24px;
    font-weight: bold;
}

.Menu-Title h2 {
    font-size: 28px;
    
}
.menu-image img.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu-item:hover .menu-image {
    transform: scale(1.2); /* Zoom effect */
    box-shadow: 0 10px 20px rgba(0,0,0,0.4); /* Enhanced shadow for pop out effect */
}



.header {
    width: 100%; /* Ensure full width */
    display: flex; /* Added */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.footer {
    width: 100%; /* Ensure full width */
    display: flex; /* Use flex layout */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the start of the container, making them float to the top */
    text-align: center; /* Center text */
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 65px;
}

.footer .contact-info {
    align-self: flex-start; /* Align this item to the start of the container, making it float to the top */
    text-align: center; /* Center text if necessary */
}



.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjust based on preference */
}

.menu-section {
    position: relative; /* Add this to make the button positioning relative to the section */
    background: linear-gradient(145deg, #f8e4db, #fce2d6dc, #f4d6c1f3);
    margin-bottom: 180px;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    padding: 10px 15px; /* Adjust padding for consistent layout */
}



.menu-item {
    flex-basis: calc(33.333% - 20px); /* Adjust size minus gap for three items per row */
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background: #8f5e3b4b; /* Change as needed */
    border-radius: 1px; /* Rounded corners */
    margin: 7px;
}

/* Target the first item of the breakfast menu */
#breakfast-menu .menu-blob:nth-child(2) {
    background-color: #debca44b; /* Light gray background */
    border: 2px solid #a26f4b4b; /* Light grey border */
    border-radius: 15px; /* Rounded corners */
    padding: 15px; /* Space inside the blob */
    margin: 10px 0; /* Space between blobs */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Soft shadow around each blob */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

/* Target the second item of the lunch menu */
#lunch-menu .menu-blob:nth-child(3) {
    background-color: #debca44b; /* Light gray background */
    border: 2px solid #a26f4b4b; /* Light grey border */
    border-radius: 15px; /* Rounded corners */
    padding: 15px; /* Space inside the blob */
    margin: 10px 0; /* Space between blobs */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Soft shadow around each blob */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

/* Target the second item of the dinner menu */
#dinner-menu .menu-blob:nth-child(3) {
    background-color: #debca44b; /* Light gray background */
    border: 2px solid #a26f4b4b; /* Light grey border */
    border-radius: 15px; /* Rounded corners */
    padding: 15px; /* Space inside the blob */
    margin: 10px 0; /* Space between blobs */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Soft shadow around each blob */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.menu-item h3 {
    margin-top: 1px; /* Adjust based on preference */
    font-size: 18px;
}




.last-updated {
    font-size: 14px; /* Smaller font size for subtlety */
    color: #666; /* A light grey color, adjust as needed */
    text-align: right; /* Align to the right of the footer */
    margin-top: 10px; /* Add some space above the text */
}


    
 


  .navbar {
    height:55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ca7f54; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* Adding shadow for a lifted effect */
}
.navbar a {
    padding: 20px;
    font-size: 24px;;
    height:55px;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    background-color: #ca7f54;  /* Slightly lighter background for the buttons */
    color: white;
    text-decoration: none;
    border-right: 2px solid #b36f47; /* Divider style */
    font-weight: bold;
}
.navbar a:last-child {
    border-right: none; /* Remove border for the last item */
}
 
.navbar a.active {
    background-color: #e6a07c;  /* A lighter shade to highlight the active button */
    /*color: #ffffff;  /* Change text color to black for better contrast */
    padding-top: 6px;  /* Adjust padding to maintain the button's height despite the border */
}

.menu-item {
    margin-bottom: 8px; /* Space between each menu type */
}

.menu-item h3 {
    background-color: #ca7f54; /* Change this to your desired color */
    color: white; /* White text color */
    text-align: center;
    padding: 10px; /* Spacing around the text */
    border-radius: 20px; /* Rounded corners */
    margin: 20px 0; /* Space above and below the title */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Add shadow for depth */
    font-size: 22px;
}

.menu-blob {
    background-color: #fff; /* White background */
    border: 2px solid #f0f0f0; /* Light grey border */
    border-radius: 12px; /* Rounded corners */
    padding: 10px; /* Space inside the blob */
    margin: 7px 0; /* Space between blobs */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow around each blob */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.menu-blob p {
    margin: 0; /* Remove default margin */
    color: #333; /* Dark text for visibility */
    text-align: center; /* Center the text */
    font-size: 16px;
}

.menu-blob:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
}

@media (max-width: 1080px) { /* Adjust this value based on your needs */
    .menu-section {
        padding: 1px; /* Reduce padding */
    }
    .menu-item h3 {
        font-size: 22px; /* Reduce font size */
    }
    .menu-blob p {
        font-size: 13px; /* Reduce font size for menu items */
    }
    /* Add any other necessary style adjustments */
}
